<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Job List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2 class="text-center"><b><I>Job Details</I></b></h2>
<pagination x-ng-model="currentPage" total-items="jobs.length"
			max-size="maxSize" boundary-links="true"> </pagination>
			<hr>
			<br/>
 <table border="1px" class="table">
			<tr class="warning">
				<th>Job Id</th>
				<th>Title</th>
				<th>Min Salary</th>
				<th>Max Salary </th>
			</tr>
			
			<tr class="success" x-ng-repeat="job in filteredJobs">
				
				<td  style="background-color:#ffddcc">{{job.jobId}}</td>
				<td style="background-color:#ffddcc">{{job.jobTitle}}</td>
				<td style="background-color:#ffddcc">{{job.minSalary}}</td>
				<td style="background-color:#ffddcc">{{job.maxSalary}}</td>
				
			</tr>
		
		</table>
</body>
</html>