<!DOCTYPE html>
<html x-ng-app="employeeApp" x-ng-strict-di>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
	<form action="">
		<table>
			<tr>
				<td>Emp Id:</td>
				<td><input type="text" x-ng-model="updateEmployee.employeeId"></td>
			</tr>
			<tr>
				<td>Emp Name:</td>
				<td><input type="text" x-ng-model="updateEmployee.firstName"></td>
			</tr>
			<tr>
				<td>Emp Salary:</td>
				<td><input type="text" x-ng-model="updateEmployee.lastName"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.email"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.phoneNumber"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.hireDate"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.jobId"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.salary"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.commissionPCT"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.managerId"></td>
			</tr>
			<tr>
				<td>Emp Designation:</td>
				<td><input type="text" x-ng-model="updateEmployee.departmentId"></td>
			</tr>
			<tr>
				<td><input type="button" x-ng-click="updateEmployee(updateEmployee)"
					value="update"></td>
				<td><input type="button" value="reset"></td>
			</tr>
		</table>
	</form>
	<p>
	{{message}}
	</p>
</body>
</html>